@font-face {
    font-family: "Zabars";
    src: url("fonts/Zabars.ttf");
}

@font-face {
    font-family: "Mexicana";
    src: url("fonts/Mexicana.ttf");
}

h1 {
    border-bottom: 2px solid;
    margin-top: 8%;
    font-size: 5rem;
}

table {
    margin-top: 10%;
    text-align: left;
}

th {
    padding-right: 50px;
}

body {
    margin: 0;
    font-family: Zabars;
}

.start_button {
    letter-spacing: 1px;
    position: absolute;
    top: 12%;
    left: calc(50% - 7.5%);
    font-size: 30px;
    font-family: Zabars;
    border-radius: 10px;
    border: 2px solid black;
    width: 18%;
    height: 50px;
    background: rgb(255, 222, 1);
    background: radial-gradient(circle, rgba(255, 222, 1, 1) 0%, rgba(255, 156, 0, 1) 100%);
    animation: pulse 1500ms infinite;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
}

.start_button:hover {
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }
}

.main_box {
    width: 100%;
    height: 100vh;
}

.buttons {
    position: absolute;
    display: flex;
}

.buttons img {
    height: 30px !important;
    width: 30px !important;
}

.info_button:hover {
    cursor: pointer;
}

.info_button {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background: rgb(255, 222, 1);
    background: radial-gradient(circle, rgba(255, 222, 1, 1) 0%, rgba(255, 156, 0, 1) 100%);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
}

.mobile_buttons {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 1280px;
    aspect-ratio: 16/9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.action_button_main {
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.right_left {
    display: flex;
    justify-content: space-between;
    width: 12%;
    display: flex;
    margin-left: 20px;
}

.jump_throw {
    display: flex;
    justify-content: space-between;
    width: 12%;
    display: flex;
    margin-right: 20px;
}

.action_button {
    border: 2px solid black;
    margin-bottom: 35px;
    border-radius: 100% !important;
    width: 50px !important;
    height: 50px;
    background: rgb(255, 222, 1);
    background: radial-gradient(circle, rgba(255, 222, 1, 0.5) 0%, rgba(255, 156, 0, 0.5) 100%);
}

.action_button img {
    width: 25px;
}

.info_box {
    box-sizing: border-box;
    border-radius: 10px;
    border: 4px solid;
    transform: scale(0);
    transition: 300ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    font-family: Mexicana;
    position: absolute;
    z-index: 5;
    background: rgb(255, 222, 1);
    background: radial-gradient(circle, rgba(255, 222, 1, 1) 0%, rgba(255, 156, 0, 1) 100%);
    width: 100%;
    height: 100%;
}

.close_info {
    margin-top: 8%;
    border-bottom: 4px solid transparent;
    transition: all 0.2s ease-in-out;
}

.close_info:hover {
    cursor: pointer;
    border-bottom: 4px solid rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;

}

.start_img {
    overflow: hidden;
    border-radius: 10px;
    display: block;
    z-index: 4;
    position: absolute;
    width: 1280px;
    height: 720px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_img img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.lost_Screen {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 10px;
    display: block;
    position: absolute;
    z-index: 3;
    width: 1280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lost_Screen img {
    border-radius: 10px;
    transform: scale(0);
    transition: 500ms;
    width: 100%;
    height: 100%;

}

.win_Screen {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 10px;
    display: block;
    position: absolute;
    z-index: 3;
    width: 1280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.win_Screen img {
    border-radius: 10px;
    transform: scale(0);
    transition: 500ms;
    width: 100%;
    height: 100%;
}

.bgr_box {
    display: block;
    filter: blur(5px) brightness(70%);
    height: 100vh;
    background-image: url('img/bg.jpg');
    background-position: center;
    background-size: cover;
}

.info_rotate {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    background: rgb(255, 222, 1);
    background: radial-gradient(circle, rgba(255, 222, 1, 1) 0%, rgba(255, 156, 0, 1) 100%);
}

canvas {
    border-radius: 10px;
    display: block;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
}

.canvas_full {
    height: 100vh;
    width: 100%;
}

.canvas_fullscreen {
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width : 1280px) {

    canvas {
        width: 100%;
    }

    .lost_Screen {
        width: 100%;
        height: unset;
    }

    .start_img {
        width: 100%;
        height: unset;
    }

    .win_Screen {
        width: 100%;
        height: unset;
    }

    .info_box {
        width: 100%;
    }

    .mobile_buttons {
        width: 100%;
    }
}

@media only screen and (max-height : 720px) {
    canvas {
        height: 100vh;
    }

    .lost_Screen {
        height: 100vh;
    }

    .start_img {
        height: 100vh;
    }

    .win_Screen {
        height: 100vh;
    }

    .info_box {
        height: 100vh;
    }

    .mobile_buttons {
        height: 100vh;
    }
}

@media (max-width: 1100px) {

    h1 {
        font-size: 40px;
    }

    .mobile_buttons {
        visibility: visible;
    }
}

@media (max-width: 900px) {

    .info_box {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .info_rotate {
        text-align: center;
        font-family: Mexicana;
        font-size: 20px;
        letter-spacing: 1px;
        z-index: 5;
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 650px) {

    .action_button_main {
        width: 86%;
    }

    h1 {
        font-size: 30px;
        margin: 30px;
        margin-bottom: 20px;
    }

    .info_box {
        font-size: 15px;
    }

    .close_info {
        margin-top: 3%;
    }

    .start_button {
        border: 2px solid black;
        font-size: 20px;
        height: 30px;
    }

    .info_button {
        height: 30px;
        width: 30px;
    }

    .buttons img {
        width: 20px !important;
        height: 20px !important;
    }
}

@media (max-width: 450px) {
    table {
        margin-top: 0;
    }

    h1 {
        font-size: 20px;
    }

    .action_button_main {
        width: 86%;
    }
}

@media screen and (orientation:landscape) and (max-height: 450px) {
    .info_box {
        font-size: 25px;
    }

    h1 {
        margin-top: 40px;
    }
}