@font-face {
    font-family: "Zabars";
    src: url("fonts/Zabars.ttf");
}

body {
    margin: 0;
    font-family: Zabars;
}

.start_button {
    position: absolute;
    top: 12%;
    left: calc(50% - 7.5%);
    font-size: 30px;
    font-family: Zabars;
    border-radius: 10px;
    border: 3px solid black;
    width: 15%;
    height: 50px;
    background: rgb(255, 222, 1);
    background: radial-gradient(circle, rgba(255, 222, 1, 1) 0%, rgba(255, 156, 0, 1) 100%);
    animation: pulse 1500ms infinite;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.54);
}

.start_button:hover {
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }
}

.music_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    background: rgb(255, 222, 1);
    background: radial-gradient(circle, rgba(255, 222, 1, 1) 0%, rgba(255, 156, 0, 1) 100%);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.54);
}

.music_button img {
    position: absolute;
    width: 35px;
}

.start_img {
    display: block;
    z-index: 4;
    position: absolute;
    width: 1280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_img img {
    width: 100%;
}

.lost_Screen {
    display: block;
    position: absolute;
    z-index: 3;
    width: 1280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lost_Screen img {
    transform: scale(0);
    transition: 500ms;
    width: 100%;
    aspect-ratio: 16 / 9;

}

.win_Screen {
    display: block;
    position: absolute;
    z-index: 3;
    width: 1280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.win_Screen img {
    transform: scale(0);
    transition: 500ms;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.main_box {
    filter: blur(5px) brightness(70%);
    height: 100vh;
    background-image: url('img/bg.jpg');
    background-position: center;
    background-size: cover;
}

canvas {
    display: block;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width : 1300px) {

    canvas {
        width: 100%;
    }

    .lost_Screen {
        width: 100%;
    }

    .start_img {
        width: 100%;
    }

    .win_Screen {
        width: 100%;
    }
}

@media only screen and (max-height : 720px) {
    canvas {
        height: 100vh;
    }

    .lost_Screen {
        height: 100vh;
    }

    .start_img {
        height: 100vh;
    }

    .win_Screen {
        height: 100vh;
    }
}